$colorPrimaryLight: #FFFFFF;
$colorPrimaryDark: #363738;
$colorSecondaryLight: #F5F5F5;
$colorSecondaryMedium: #FEFAF1;
$colorSecondaryDark: #DB4444;
$colorBackground: #FFFFFF;
$colorTextLight: #FAFAFA;
$colorTextMedium: #7D8184;
$colorTextDark: #000000;
$colorButtonFirst: #00FF66;
$colorButtonSecondary: #DB4444;
$colorButtonDark: #000000;
$colorButtonHoverFirst: #E07575;
$colorButtonHoverSecondary: #A0BCE0;