@import "variables/variables";

.padding {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  @extend .padding;
  max-width: $containerWidth;
  width: 100%;
  margin: 0 auto;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
}

.col {
  @extend .padding;
}